{{> header}}

<main id="main-content" class="page-wow">
    
    <header role="banner" class="color-light">
<!--
      <h1>
        <span>WoW Hero Lookup</span>
      </h1>
-->
    </header>

    <!-- WoW Search Box -->
    <section class="container-fluid wow-search">
      
      <div class="row">
        <div class="col-sm-10 col-sm-push-1 col-xs-12">
          
          <!-- Hero + Server -->
          <div class="clearfix">
            <input id="wow-search" type="search" name="wow-search" placeholder=" Name" />
            <select id="wow-search-realm" name="wow-search-realm">
              <option value="server">Server</option>
              <option value="chogall">Chogall</option>
            </select>
          </div>
          
          <!-- Submit -->
          <div class="clearfix">
            <a id="wow-search-submit" href="##">Find Character</a>
          </div>
            
        </div>
      </div>
      
    </section>

    <!-- WoW Search Results -->
    <section class="container-fluid wow-container">
  
      
      <div class="row">
        <div class="col-sm-2 col-sm-push-1 col-xs-12">
          <div data-wow="hero-name"></div>
          <img data-wow="hero-image" />
        </div>
        <div class="col-sm-8 col-xs-12">
          ss
        </div>
      </div>
      
      <div class="row">
        <div class="col-sm-10 col-sm-push-1 col-xs-12">
          <div class="wow-error main"></div>
        </div>
      </div>
      
      <div class="wow-loader main">
        <img src="images/loader_light_64.gif" />
      </div>
    </section>
  
</main>

<div id="wow-bg"></div>
<div id="snow"></div>

{{> footer}}