{{> header}}

<main id="main-content" class="page-wow">
    
    <header role="banner" class="color-light">
      <h1>
        <span>WoW Hero Lookup</span>
      </h1>
    </header>

    <!-- WoW Search Box -->
    <section class="container-fluid wow-search">
      
      <div class="row">
        <div class="col-sm-8 col-sm-push-2 col-xs-12">
          <input id="wow-search" type="search" name="wow-search" placeholder=" Hero Name" />
        </div>
      </div>
      
    </section>

    <!-- WoW Search Results -->
    <section class="container-fluid wow-container">
  
      
      <div class="wow-loader main">
        <img src="images/loader_light_64.gif" />
      </div>
    </section>
  
</main>

<div id="snow"></div>

{{> footer}}