{{> header}}

<main id="main-content" class="page-home">
    
    <header role="banner" class="color-light">
      <h1>
        <span>Cookie &amp; Data Test</span>
      </h1>
    </header>

    <section class="search-area">
      
      <input id="search-box" type="search" name="search" placeholder="Search.." />
      <div id="recent-searches" style="display:none;">
        <p>Your Recent Searches:</p>
        <ul>
          <li class="filler">No recent searches</li>
        </ul>
      </div>
      
    </section>

</main>

<div id="snow"></div>

{{> footer}}