{{> header}}

<main id="main-content">
    
    <header role="banner" class="color-light">
      <h1>
        <span>Cookie &amp; Data Test</span>
      </h1>
    </header>
  
    <div class="search-wrapper">
      <form class="search-area" method="post">
        <input id="search-box" type="search" name="search" placeholder="Search.." />
      </form>

      <div class="search-error" style="display:none;"></div>
     
      <section id="recent-searches" style="display:none;">
          <p>Your Recent Searches:</p>
          <ul>
            <li class="filler">No recent searches</li>
          </ul>
      </section>
    </div>
    
</main>

<div id="snow"></div>

{{> footer}}