/*
  Colors
*/

//Font
@color-dark:#242424;
@color-light:#FFFFFF;

//Font Color Classes
.color-dark {color:@color-dark;}
.color-light {color:@color-light;}

//Background Color Classes
.color-dark-bg {color:@color-light;background:@color-dark;}
.color-light-bg {color:@color-dark;background:@color-light;}